@import "node_modules/bootstrap/scss/bootstrap";
.agh {
    height: calc(100%);
    width: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
aside {
    // max-height: calc(100vh - 72px);
    position: absolute;
    max-height: 100vh;
    left: 0; // TODO: make these classes
}
.pinTitle {
    white-space: nowrap;
}
#pannels { 
    bottom: 0;
    left: 0;
    padding-left: 0;
}
aside {
    position: absolute;
    left: 0;
    top: 0;
}
@include media-breakpoint-up(sm) {
    aside {
        margin-left: 6px;
    }
}