@import "node_modules/bootstrap/scss/bootstrap";
:host {
    height: 100%;
    overflow: hidden;
    flex-direction: column !important;
    display: flex !important;
}
:host-context(.card-body) {
    .mat-list {
        width: inherit;
    }
}
.mat-tab-header {
    display: none;
}
.position-absolute {
    left: 0;
    bottom: 0;
}
.hide-lg {
    display: initial !important;
}
@include media-breakpoint-up(lg) {
    .hide-lg {
        display: none !important;
    }
}