@import "node_modules/bootstrap/scss/bootstrap";
.mat-tab-header {
    display: none;
}
.position-absolute {
    left: 0;
    bottom: 0;
}
.mat-list {
    overflow-y: hidden;
    width: 50vw;
};
.hide-lg {
    display: initial !important;
}
@include media-breakpoint-up(sm) {
    .mat-list {
        width: 45vw;
    }
}
@include media-breakpoint-up(md) {
    .mat-list {
        width: 35vw;
    }
    .hide-lg {
        display: none !important;
    }
}
@include media-breakpoint-up(lg) {
    .mat-list {
        width: 25vw;
    }
}