<section #jumbotron class="jumbotron text-center bg-dark text-white">
    <form class="row justify-content-center community-search">
        <mat-form-field class="col-md-11 text-white dark-theme">
            <input #search matInput placeholder="Search" [formControl]="searchControl" [matAutocomplete]="auto" (keyup)="onKeyup(search.value)">
            <mat-autocomplete #auto="matAutocomplete" class="mat-elevation-z0 search-theme" (optionSelected)="onKeyup(search.value)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                    <mat-icon *ngIf="option.type === 0">person_outline</mat-icon>
                    <mat-icon *ngIf="option.type === 1">grade</mat-icon>
                    <span>{{ option.name }}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</section>