<div class="card-body row col-12 mx-auto" [class.p-0]="cardNumber == 3">
    <ng-container *ngIf="hasMembers; else noMemberTemplate">
        <div *ngFor="let profile of topMembers" class="col-12 col-md-6 col-lg-4 col-xl-3 py-1">
            <app-profile-card [name]="profile.name" [location]="profile.location" [connections]="profile.connections" [imgUrl]="profile.imgUrl" (click)="cardClick(profile)"></app-profile-card>
        </div>
    </ng-container>
    <ng-template #noMemberTemplate>
        <div class="w-100 h-100 d-flex align-content-center justify-content-center">
            <p>No members are a part of this community</p>
        </div>
    </ng-template>
</div>
<div #viewMore class="row">
    <button *ngIf="communityMembers.length > cardNumber" class="col-md-4 ml-2" (click)="toggleViewMore()" mat-button>{{viewLess ? 'View Less' : 'View More'}}</button>
    <p class="lead mx-auto my-auto cursor-pointer col-md-7" [hidden]="!scrollMore || viewLess" (click)="scrollMore = viewLess = false">
        Loading More... <span>(click to disable)</span>
    </p>
</div>
