/*
#profile-0 {
    background-color: red;
    opacity: 0.9;
    &::after {
        position: absolute;
        content: '';
        background-color: red;
        height: 100%;
        width: 100%;
    }
}
*/