<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-6 mx-auto">
                <img class="rounded-circle img-fluid" src="/assets/img/photos/baxter.jpg">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-8 mx-auto">
                <h3>{{name}}</h3>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row text-center">
            <div class="col-6">
                <a placement="bottom" ngbTooltip="Location">
                    <i-globe class="align-bottom"></i-globe>
                    <span>{{location}}</span>
                </a>
            </div>
            <div class="col-6">
                <a placement="bottom" ngbTooltip="Connections">
                    <i-radio class="align-bottom"></i-radio>
                    <span class="h-100 align-text-top">{{connections}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
