<mat-card class="pt-3">
    <mat-card-title class="mb-2">
        <div class="row text-center">
            <div class="col-7 mx-auto">
                <img class="rounded-circle img-fluid" [src]="imgUrl" role="figure" alt="profile photo">
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div class="row text-center">
            <div class="col-11 mx-auto">
                <h4>{{name}}</h4>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div class="row text-center mb-2">
            <div class="col-6">
                <a>
                    <mat-icon placement="bottom" tooltip="Location" class="align-middle cursor-pointer">my_location</mat-icon>
                    <!--<i-globe placement="bottom" ngbTooltip="Location" class="align-bottom cursor-pointer"></i-globe>-->
                    <span class="h-100 align-text-top"> {{location}}</span>
                </a>
            </div>
            <div class="col-6">
                <a>
                    <mat-icon placement="bottom" tooltip="Connections" class="align-middle cursor-pointer">wifi_tethering</mat-icon>
                   <!-- <i-radio placement="bottom" ngbTooltip="Connections" class="align-bottom cursor-pointer"></i-radio>-->
                    <span class="h-100 align-text-top">{{connections}}</span>
                </a>
            </div>
        </div>
    </mat-card-footer>
</mat-card>