@import "material/material-colors";
// Theme Colors
$theme-colors: (
    primary: map-get($map: $material-primary, $key: 500),
    secondary: map-get($map: $material-secondary, $key: 500),
    dp: #3A1E2E,
    // dp: map-get($map: $material-primary, $key: 800),
    ds: map-get($map: $material-secondary, $key: 900)
    /*
    success: #009DA0,
    info: #1CBCD8,
    warning: #FF8D60,
    danger: #FF586B,
    light: #f8f9fa,
    dark: #0d0309
    */
);
$primary-gradient: (
    0: #911C5E,
    1: #821D61,
    2: #731F63,
    3: #642066,
    4: #562268,
    5: #47236B,
    6: #38256D,
    7: #292670
);
// Body
$body-bg:       #f5f7fa;

// Fonts
$font-family-sans-serif: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-content: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-size-root: 16px;