<ng-template #profileContainer>
<app-profile-card [name]="searchProfile.name" [location]="searchProfile.location" [connections]="searchProfile.connections" [imgUrl]="searchProfile.imgUrl"></app-profile-card>
</ng-template>
<div class="card-body px-4" *ngIf="isMember; else elseTemplate">
    <mat-list class="row d-flex">
        <mat-list-item class="col-12 ml-auto" *ngFor="let message of currentChat?.messages | async; index as i">
            <h6 matLine class="my-0 row-fluid d-flex">
                <ng-container *ngIf="message.userName !== 'You'; then thenTemplate; else elseTemplate"></ng-container>
                <ng-template #thenTemplate>
                    <!--mb-2-->
                    <span *ngIf="message.userName !== 'You'" class="col-8 col-md-9 col-lg-10 text-right">{{ message.text }}</span>
                    <!--my-2-->
                    <!--
                    <small  placement="top" triggers="mouseenter:mouseleave" [popover]="profileContainer" container="body"
                        class="display-block col-4 col-md-3 col-lg-2 text-left cursor-pointer" style="padding-top: 3px" 
                        [ngClass]="{ 'text-primary' : i === hoverNumber }"
                        (mouseover)="mouseOver(i, message.sender)" (mouseout)="mouseOut(i)" (click)="nameClick(message.sender)">
                        {{ message.sender }}
                    </small>
                    -->
                    <small class="display-block col-4 col-md-3 col-lg-2 text-left cursor-pointer" style="padding-top: 3px" 
                        [ngClass]="{ 'text-primary' : i === hoverNumber }"
                        (mouseover)="mouseOver(i, message.userName)" (mouseout)="mouseOut(i)" (click)="nameClick(message.userName)">
                        {{ message.userName }}
                    </small>
                </ng-template>
                <ng-template #elseTemplate>
                    <small class="display-block col-1 text-right" style="padding-top: 3px">{{ message.userName }}</small>
                    <span class="col-11 text-left text-left">{{ message.text }}</span>
                </ng-template>                
            </h6>
            <div matLine *ngIf="false"></div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>    
</div>
<ng-template #elseTemplate>
    <button mat-button [disabled]="true">You must be a member to view messages</button>
</ng-template>