<h5 class="card-title" id="skillsTitle">
    {{memberSkills ? 'Skills' : 'Top Skills'}}
    <small *ngIf="skillsSearched" matTooltip="Clear search?" matTooltipPosition="right" (click)="skillsClick(skillsSearched)" class="cursor-pointer text-muted">
        &gt; Search &gt; {{skillsSearched}} &#187; {{ getSkill(skillsSearched) }} of community members
    </small>
</h5>
<div class="w-100">
    <div ng-if="skillsArray" id="skillsHolder" class="cursor-pointer text-center"> <!--[appMatchHeight]="'skillsClass'"-->
        <div *ngFor="let skill; of topSkills; let i=index" [ngStyle]="{'width': getStyle(skill)}" class="skillsClass display-inline-block"
        (click)="skillsClick(skill)">
                <p [hidden]="!hideSkills" class="text-white align-middle m-0 skillText" [style.background-color]="colors[i]">{{ skill }}</p>
                <p [hidden]="hideSkills" class="text-white align-middle m-0" [style.background-color]="colors3[i]">{{ getSkill(skill) }}</p>
        </div>
    </div>
</div>