<mat-card class="mat-elevation-z2 m-2 matchClass" style="height: 100%">
    <mat-card-title>
        <div class="row text-center">
            <div class="col-11 mx-auto">
                <h4 (click)="cardClick()" class="cursor-pointer"> {{ skill }} </h4>
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <mat-list role="list" class="col-12 p-0 text-center" [ngClass]="{'d-flex': true}" dense appMatchHeight="matchClass">
            <mat-list-item role="listitem" *ngFor="let profile of profiles; let i=index"
                [ngClass]="{ 'text-primary' : i === hoverNumber }"
                (mouseover)="mouseOver(i)" (mouseout)="mouseOut(i)" (click)="nameClick(profile.name)"
                class="matchClass skillName mx-auto p-0 text-center cursor-pointer">
                {{ profile.name }}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
