<div id="main-search" class="row h-100">
    <section id="search" class="col-md-5 col-lg-4 col-xl-3 d-flex
        align-items-center justify-content-center">
        <div class="content h-75 col-12">
            <div class="row col-12">
                <div class="col-12">
                    <h1 (click)="createCommunity()">Search</h1>
                </div>
            </div>
            <form class="col-12">
                <mat-form-field class="col-12 row">
                    <input #searchInput matInput placeholder="Search" [formControl]="searchControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" class="mat-elevation-z0 search-theme-dark">
                        <mat-option *ngFor="let option of searchResults | async" [value]="option.data.name">
                            <!-- <mat-icon *ngIf="option.type === 0">person_outline</mat-icon>
                            <mat-icon *ngIf="option.type === 1">grade</mat-icon> -->
                            <span>{{ option.data.name }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    </section>
    <section id="results" class="col-md-7 col-lg-8 col-xl-9 bg-dark row pb-4">
        <div id="spinner" *ngIf="searchInput.value && (searchResults | async)?.length < 1">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngFor="let search of searchResults | async" class="col-12 col-xl-6 mx-auto pt-4 comCard">
            <ng-container *ngIf="search.community; else elseTemplate">
                <app-communities-card [community]="search.data" class="cursor-pointer" (click)="comClick(search.data.link)"></app-communities-card>
            </ng-container>
            <ng-template #elseTemplate>
                <app-profile-card [name]="search.data.name" [location]="search.data.location" [connections]="search.data.connections" [imgUrl]="search.data.imgUrl"
                 class="cursor-pointer" (click)="userClick(search.data)"></app-profile-card>
            </ng-template>
        </div>
    </section>
</div>