<div class="card-body p-0">
    <ngx-carousel [inputs]="carousel" (carouselLoad)="cLoad($event)" class="w-100" #carouselElem appCarouselHeight="ngxcarousel">
        <ngx-item class="bannerStyle" *ngFor="let skill of insertSkills; let i=index" NgxCarouselItem>
            <app-skills-card [skill]="skill" [profiles]="skills[skill]" class="item"></app-skills-card>
        </ngx-item>
        <button mat-icon-button NgxCarouselPrev class="float-left">
            <mat-icon aria-label="Scroll skills left">navigate_before</mat-icon>
        </button>
        <button mat-icon-button NgxCarouselNext class="float-right">
            <mat-icon aria-label="Scroll skills right">navigate_next</mat-icon>
        </button>
    </ngx-carousel>
</div>