<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content class="main-content">
        <form class="icons-tab-steps wizard-circle" appWizardForm [formGroup]="rFormGroup" (ngSubmit)="submitRegister(rFormGroup.value)">
            <h6>Step 1</h6>
            <fieldset>
                <div class="row">
                    <mat-form-field class="col-md-12">
                        <input matInput type="email" placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="getError('email', 'email')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="getError('email', 'required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input matInput type="password" placeholder="Password" formControlName="pass1" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="getError('pass1', 'minlength')">
                            Please should be at least 6 characters
                        </mat-error>
                        <mat-error *ngIf="getError('pass1', 'passMatch')">
                            Please enter <strong>matching</strong> passwords
                        </mat-error>
                        <mat-error *ngIf="getError('pass1', 'required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input matInput type="password" placeholder="Password" formControlName="pass2" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="getError('pass2', 'minlength')">
                            Please should be at least 6 characters
                        </mat-error>
                        <mat-error *ngIf="getError('pass2','passMatch')">
                            Please enter
                            <strong>matching</strong> passwords
                        </mat-error>
                        <mat-error *ngIf="getError('pass2', 'required')">
                            Password is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
            <h6>Step 2</h6>
            <fieldset>
                <div class="row">
                    <mat-form-field class="col-sm-12 col-md-6">
                        <input matInput type="text" placeholder="First Name" formControlName="fName" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="getError('fName','required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-sm-12 col-md-6">
                        <input matInput type="text" placeholder="Last Name" formControlName="lName" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="getError('lName', 'required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <input matInput type="text" placeholder="Location" formControlName="location" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="getError('location', 'required')">
                            Location is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
            <h6>Step 3</h6>
            <fieldset>
                <div class="row">
                    <mat-form-field class="col-md-12" hintLabel="Separate with comma or semicolon">
                        <mat-chip-list #skillsList [errorStateMatcher]="matcher" placement="bottom" [ngbPopover]="popovers.skills" popoverTitle="Skills/Knowledge" container="body" triggers="mouseenter:mouseleave">
                            <mat-chip *ngFor="let skill of inputSkills" [selectable]="true" [removable]="true" (remove)="removeChip(skill, 0)">
                                {{ skill }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input matInput  placeholder="Skills/Knowledge" formControlName="skills" [matChipInputFor]="skillsList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addChip($event, 0)">
                            <mat-error [hidden]="!getError('skills' ,'required')">
                                At least one skill is <strong>required</strong>
                            </mat-error>
                        </mat-chip-list>
                    </mat-form-field>
                    <mat-form-field class="col-md-12" hintLabel="Separate with comma or semicolon">
                        <mat-chip-list #passionsList [errorStateMatcher]="matcher" placement="bottom" [ngbPopover]="popovers.passions"
                            popoverTitle="Passions" container="body" triggers="mouseenter:mouseleave">
                            <mat-chip *ngFor="let passion of inputPassions" [selectable]="true" [removable]="true" (remove)="removeChip(passion, 1)">
                                {{ passion }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                            <input matInput placeholder="Passions" formControlName="passions" [matChipInputFor]="passionsList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addChip($event, 1)">
                            <mat-error [hidden]="!getError('passions', 'required')">
                                At least one passion is <strong>required</strong>
                            </mat-error>
                        </mat-chip-list>
                    </mat-form-field>
                    <mat-form-field class="col-md-12">
                        <mat-select placement="bottom" formControlName="payment" [ngbPopover]="popovers.payment" popoverTitle="Accepted from of payment" container="body" triggers="mouseenter:mouseleave"
                            placeholder="Accepted form of payment" [errorStateMatcher]="matcher" multiple>
                            <mat-option *ngFor="let payment of payments" [value]="payment">
                                {{ payment }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="getError('payment', 'required')">
                            Payment form is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
            <h6>Step 4</h6>
            <fieldset>
                <div class="row">
                    <mat-form-field class="col-md-12">
                        <textarea placement="bottom" [ngbPopover]="popovers['about']" popoverTitle="Tell us a bit about yourself" container="body" triggers="mouseenter:mouseleave"
                            matInput formControlName="about" [errorStateMatcher]="matcher" placeholder="Tell us about you" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                            <mat-error *ngIf="getError('about', 'required')">
                                About is <strong>required</strong>
                            </mat-error>
                    </mat-form-field>
                </div>
            </fieldset>
        </form>
    </mat-card-content>
</mat-card>