<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-nav [sidenav]="sidenav" [comnav]="communityNav"></app-nav>
    </mat-sidenav>
    <mat-sidenav-content style="overflow: visible">
        <app-nav-button (navClick)="sidenav.toggle()"></app-nav-button>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <mat-sidenav #communityNav mode="push" fixedInViewport="true">
        <app-community-sidenav [comnav]="communityNav"></app-community-sidenav>
    </mat-sidenav>
</mat-sidenav-container>