<app-community-jumbotron></app-community-jumbotron>
<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11">
            <div class="row">
                <div class="col-8">
                    <h2>{{ communityName }}</h2>
                </div>
                <div class="col-4 text-right align-center">
                    <mat-slide-toggle color="primary">Show Web</mat-slide-toggle>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <app-community-card [slider]="true">
            <app-skills-slider #skillsSlider></app-skills-slider>
        </app-community-card>
        <app-community-card>
            <h5 class="card-title col-12">
                <span *ngIf="searchSkills" (click)="clearSearch()" matTooltip="Clear search?" matTooltipPosition="left" class="cursor-pointer">Searched </span>
                Community Skills</h5>
            <app-community-skills class="w-100" (communitySkills)="skillsSlider.sortSkills($event)"></app-community-skills>
        </app-community-card>
        <app-community-card>
            <h5 class="card-text col-8">
                <span *ngIf="searchMembers" (click)="clearSearch()" (mouseover)="hovered=true" (mouseout)="hovered=flase" class="cursor-pointer">{{hovered? 'Clear Search?' : 'Searched '}}</span>
            {{ (hovered && searchMembers) ? '' : 'Community Members' }}</h5>
            <!--TODO: add has members qualifier-->
            <!--
            <h5 class="card-title col-8">
                <span *ngIf="searchMembers" (click)="clearSearch()" matTooltip="Clear search?" matTooltipPosition="left" class="cursor-pointer">Searched </span>
                Community Members
            </h5>
            -->
            <div [hidden]="!showWebs" class="col-4 text-right">
                <div>
                    <mat-slide-toggle #webToggle color="primary" placement="bottom" triggers="mouseenter:mouseleave" 
                        popover="This feature allows you to see the connections made by a user within this community." 
                        container="body" popoverTitle="Show Webs on Click" (click)="members.activateWebs(webToggle.checked)">
                        Show Webs
                    </mat-slide-toggle>
                </div>
            </div>
            <app-community-members #members (showWebs)="toggleShowWebs($event)"></app-community-members>
        </app-community-card>
        <app-community-card>
            <h5 class="card-title col-12">Message Board</h5>
            <div class="card-body row col-12">
                <ng-container *ngIf="!hasMessages; else elseTemplate">
                    <p class="col-12">
                        No messages
                    </p>
                </ng-container>
                <ng-template #elseTemplate>
                    <app-community-messages class="w-100"></app-community-messages>
                </ng-template>
            </div>
            <!-- TODO: make this a message bar activated with joined community -->
            <button mat-raised-button>Message input placeholder</button>
        </app-community-card>
    </div>
</section>