@import "node_modules/bootstrap/scss/bootstrap";
.app-chat {
    max-height: inherit;
    @include media-breakpoint-up(md) {
        max-height: 90vh;
    }
}
.mat-progress-bar {
    margin-top: -2rem;
    margin-bottom: 2rem;
}
.jj {
    position: fixed;
    z-index: -1;
    height: 200px;
    top: 0;
}
.community {
    margin-top: 40vh;
    background-color: #f5f7fa;
}