$material-primary: (
    50 : #f2e4ec,
    100 : #debbcf,
    200 : #c88eaf,
    300 : #b2608e,
    400 : #a23e76,
    500 : #911c5e,
    600 : #891956,
    700 : #7e144c,
    800 : #741142,
    900 : #620931,
    A100 : #ff95be,
    A200 : #ff629f,
    A400 : #ff2f80,
    A700 : #ff1571,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$material-secondary: (
    50 : #e5e5ee,
    100 : #bfbed4,
    200 : #9493b8,
    300 : #69679b,
    400 : #494785,
    500 : #292670,
    600 : #242268,
    700 : #1f1c5d,
    800 : #191753,
    900 : #0f0d41,
    A100 : #7d7aff,
    A200 : #4c47ff,
    A400 : #1a14ff,
    A700 : #0600fa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);