@import '~@angular/material/theming';
@import "material-colors";
@include mat-core();

// Main theme (light)
$app-primary: mat-palette($material-primary);
$app-accent:  mat-palette($material-secondary, A200, A100, A400);
$app-warn:    mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);


// Dark Theme
$dark-primary: mat-palette($material-primary);
$dark-accent:  mat-palette($material-secondary, A200, A100, A400);
$dark-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
}