@import '~@angular/material/theming';
@import "material-colors";
@include mat-core();

// Main theme (light)
$app-primary: mat-palette($material-primary);
$app-accent:  mat-palette($material-secondary, A200, A100, A400);
$app-warn:    mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);


// Dark Theme
$dark-primary: mat-palette($material-primary);
$dark-accent:  mat-palette($material-secondary, A200, A100, A400);
$dark-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
}

// Search Theme
$search-primary: mat-palette($material-primary);
$search-accent:  mat-palette($material-secondary, A200, A100, A400);
$search-warn: mat-palette($mat-red);

$search-theme: mat-dark-theme($search-primary, $search-accent, $search-warn);

.search-theme {
    @include angular-material-theme($search-theme);
    background-color: transparent !important;
    .mat-icon {
        font-size: 16pt;
    }
    .feather {
        vertical-align: middle;
        margin-right: 16px;
    }
    .mat-option {
        font-size: 10pt;
        height: 28px;
        line-height: 28px;
        padding: 0;
        .mat-option.text {
            font-size: 12pt;
        }
    }
}

.com-theme {
    .mat-card {
        padding: 0 6px 0 24px;
        margin: 12px 0;
        /*
        padding-top: 6px;
        padding-left: 24px;
        padding-right: 0;
        padding-bottom: 0;
        */
        // padding-bottom: -12px !important;
    }
    .mat-form-field-suffix {
        // vertical-align: bottom;
        margin-top: 14px !important;
    }
    .mat-form-field {
        width: 100%;
        padding-right: 6px;
    }
    .mat-card-image {
        width: calc(100% + 30px);
    }
    .mat-form-field-infix {
        margin-top: 8px;
        border: 0;
    }
    .mat-form-field-wrapper {
        margin-bottom: -6px;
    }
    .mat-accordion {
        // padding-top: 24px;
        margin-top: 24px;
        overflow-y: scroll;
    }
    .mat-expansion-panel-body {
        padding: 0 !important;
    }
}