<section class="container bg-light full-height-vh w-100 d-flex align-items-center justify-content-center">
    <div class="content w-100">
        <div class="row">
            <div class="col-12">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row">
            <form class="col-12" [formGroup]="lFormGroup">
                <mat-form-field class="col-12 row">
                    <input #email type="email" class="col-12" matInput (keyup.enter)="onLogin()" placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="lFormGroup.get('email').hasError('email') && !lFormGroup.get('email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="lFormGroup.get('email').hasError('required')">
                        Email is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-12 row">
                    <input #password type="password" class="col-12" (keyup.enter)="onLogin()" matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher">
                    <mat-hint>Click enter to submit</mat-hint>
                    <mat-error *ngIf="lFormGroup.get('password').hasError('required')">
                        password is
                        <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="lFormGroup.get('password').hasError('loginError')">
                        Email or passowrd incorrect
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <hr>
        <div class="row text-center">
            <h4 class="col-12">Social Login</h4>
            <div class="col-12 mt-2 flex-row">
                <div class="col-md-12 pb-2">
                    <button class="btn btn-outline-primary btn-block" (click)="fAuth(event)">Facebook here</button>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-outline-primary btn-block" (click)="gAuth(event)">Google here</button>
                </div>
            </div>
        </div>
    </div>
</section>