@import "../../../assets/sass/scss/variables";

//Nav Width!
$nav-width: 30vw;

#nav-overlay {
    background: #0d0309;
    opacity: 0.5;
    z-index: 100;
}
#nav-popup {
    position: fixed;
    width: $nav-width;
    right: -$nav-width;
    height: 100vh;
    z-index: 110;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
    //background: map-get($map: $theme-colors, $key: primary);
}

.mat-button {
    font-size: 14pt;
    line-height: 48px;
}
.nav-button {
    width: 50vw;
}

@media screen and (min-width: 576px) {

}
@media screen and (min-width: 768px) {
    .nav-button {
        width: 40vw;
    }
}
@media screen and (min-width: 992px) {
    .nav-button {
        width: 30vw;
    }
}
@media screen and (min-width: 1200px) {
    .nav-button {
        width: 20vw;
    }
}