@import "../../../assets/sass/scss/variables";
$nav-width: 40vw;
#nav-overlay {
    background: black;
    opacity: 0.5;
}
#nav-popup {
    position: fixed;
    width: $nav-width;
    right: -$nav-width;
    height: 100vh;
    background: map-get($map: $theme-colors, $key: primary);
}