<div class="h-100 d-flex align-items-center justify-content-center">
    <!--<mat-slide-toggle class="position-absolute" style="bottom:30px;left:0" #testToggle>Toggle "logged-in" view</mat-slide-toggle>-->
    <div class="h-75 pr-2">
        <mat-nav-list>
            <a mat-list-item class="cursor-pointer nav-button" *ngFor="let nav of navLinks; let i = index;"
                [routerLink]="nav.link" routerLinkActive="mat-list-item-focus"> {{ nav.display }} </a>
            <mat-divider *ngIf="isAuth"></mat-divider>
            <h3 matSubheader *ngIf="isAuth">Your Communities</h3>
            <a mat-list-item class="cursor-pointer" *ngFor="let com of communityLinks"
                [routerLink]="['/community',com.link]" routerLinkActive="mat-list-item-focus"> {{ com.name }} </a>
        </mat-nav-list>
    </div>
</div>